* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}

.scontainer {
  width: 80%;
  margin: auto;
}

.flex {
  display: flex;
}

.flex1 {
  display: flex;
  justify-content: space-between;
  
}

/* --- header --- */
nav {
  height: 10vh;
  line-height: 10vh;
  background: white;
  text-align: center;
}

.logo img {
  margin-top: 10px;
  margin-left: 10px;
}

nav ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center; /* Alinhar o menu no centro */
}

nav ul li {
  margin-left: 20px;
}

nav li a {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  transition: 0.5s;
}

nav li a:hover {
  color: #37B234;
}

.media-button i {
  font-size: 20px;
  display: none;
}

.account i {
  color: #37B234;
  margin-right: 10px;
}

.account {
  display: flex;
  align-items: center;
  margin: -10px 20px 0 0;
}

/* --- home --- */
.left {
  width: 35%;
}

.right {
  width: 65%;
  overflow-x: hidden;
}

button {
  padding: 15px 50px;
  margin: 20px 20px 0 0;
  border-radius: 50px;
  border: none;
  background: #37B234;
  color: white;
  cursor: pointer;
}

.btn1 {
  border: 2px solid white;
}

.btn2 {
  background: white;
  color: black;
}

.home {
  position: relative;
  color: white;
}

.home .left {
  padding: 50px 0 0 65px;
  margin-top: 50px;
}

.home .right {
  margin-top: 50px;
}

.home::after {
  content: '';
  position: absolute;
  top: 0;
  right: 20%;
  background-image: url('../img/slide.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.time-box {
  margin: 0 50px 0 0;
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px;
}

.time-box h1 {
  font-size: 50px;
  margin-left: 10px;
}

.time-box span {
  font-size: 14px;
  margin-left: 15px;
}

.home h2 {
  font-size: 50px;
  margin: 20px 0 20px 0;
}

.home p {
  color: white;
}

/* --- latest --- */
.top {
  margin-top: 100px;
}

.mtop {
  margin-top: 50px;
}

.heading {
  text-align: center;
  position: relative;
  margin-bottom: 120px;
}

.heading h1 {
  font-size: 40px;
  font-weight: 400;
}

.heading button {
  padding: 15px 80px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
}

.heading .lines {
  position: relative;
  width: 100%;
}

.heading .line {
  border: 1px solid #e3e3e3;
  width: 45%;
  height: 3px;
  border-left: none;
  position: absolute;
  left: -18px; /* Ajuste para posicionar a linha à esquerda do botão */
  top: 43px; /* Ajuste para posicionar a linha no centro vertical do botão */
  z-index: 1;
}

.heading .line i {
  position: absolute;
  right: -1px; /* Ajuste para posicionar o ícone à direita do botão */
  top: -7px; /* Ajuste para posicionar o ícone no topo do botão */
  color: white;
}

.heading .line2 {
  border: 1px solid #e3e3e3;
  width: 45%;
  height: 3px;
  border-right: none;
  position: absolute;
  left: 57.5%; /* Ajuste para posicionar a linha à direita do botão */
  top: 43px; /* Ajuste para posicionar a linha no centro vertical do botão */
  z-index: 1;
}

.heading .line2 i {
  position: absolute;
  left: -100%; /* Ajuste para posicionar o ícone à esquerda do botão */
  top: -7px; /* Ajuste para posicionar o ícone no topo do botão */
  color: white;
}

.latest .grid {
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.latest .scontainer {
  padding: 50px;
  text-align: center;
 
}

.latest .box {
  background: #f9f9f9;
  padding: 40px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  transition: 0.5s;
}

.latest .box:hover {
  border: 1px solid #37B234;
  cursor: pointer;
}

.latest .img {
  position: relative;  
}

.latest .img img {
  width: 80%;
}



.latest .img .flex1 {
  width: 100%;
  position: absolute;
  top: -10%; /*subir ao topo do box os ícones*/    
}



.latest .img label {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  color: white;
  background: #37B234;
  text-align: center;
}

.latest .img i {
  color: #37B234;
  font-size: 20px;
  line-height: 50px;
}

.latest .details h2 {
  font-weight: 400;
  color: #37B234;
  margin: 20px 0 20px 0;
}

.latest .details h2 span {
  text-decoration: line-through;
  font-size: 14px;
  color: grey;
}

.latest .details button {
  margin: 0;
  margin-top: 20px;
}

/* --- slider --- */
ul {
  list-style: none;
}

.slider {
  background: #37B234;
  padding: 80px 0 0 0;
  color: white;
}

.slider p {
  font-size: 20px;
}

.slider h1 {
  font-size: 50px;
  font-weight: 400;
  margin: 20px 0 20px 0;
}

.slider ul li {
  font-size: 22px;
  opacity: 0.8;
  margin-top: 15px;
  white-space: 5px;
}

.slider h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 40px 0 30px 0;
}

.owl-nav .owl-prev i,
.owl-nav .owl-next i {
  position: absolute;
  top: 35%;
  cursor: pointer;
  font-size: 50px;
}

.owl-nav .owl-prev i {
  left: -33px;
}

.owl-nav .owl-next i {
  right: -33px;
}

.owl-nav .owl-prev i:hover,
.owl-nav .owl-next i:hover {
  color: #71ec6e;
}

/*--- populares ---*/
.popular {
  color: black;
}

.popular.latest {
  background: none;
}

/*--- wrapper ---*/
.wrapper {
  background-image: url('../img/back.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
  position: relative;
}

.wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(55, 179, 52, 0.83);
}

.wrapper .scontainer {
  position: relative;
  z-index: 1;
}

.wrapper .scontainer .any-image {
  margin-top: -10%;
}

.wrapper .text {
  padding: 100px 50px;
  color: white;
}

.wrapper h1 {
  font-size: 40px;
  margin: 20px 0 20px 0;
  font-weight: 400;
}

.wrapper h3 {
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: 400;
}

/*--- Assesories ---*/
.assesories {
  margin-top: 25%;
}

.shipping {
  padding: 50px;
  background: #37B234;
  color: white;
}

.shipping .img {
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  margin-right: 20px;
  padding: 30px;
}

.shipping i {
  font-size: 20px;
}

.shipping h3 {
  font-weight: 400;
  margin-bottom: 10px;
}

.shipping p {
  opacity: 0.8;
  line-height: 20px;
}

/* --- Footer --- */
footer {
  background: black;
}

footer .scontainer {
  padding: 70px 50px;
  color: white;
}

footer h3 {
  margin: 30px 0 20px 0;
}

footer h1 {
  color: white;
  margin: 15px 0 10px 0;
}

footer li,
footer p {
  margin: 15px 0 10px 0;
  color: grey;
}

footer input {
  padding: 10px;
  background: none;
  border: none;
}

footer .input-footer {
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}

footer .input-footer i {
  margin: 15px;
}

footer .social-media i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid grey;
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
  color: grey;
}

@media only screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  nav li a {
    line-height: normal;
    display: block;
    padding: 10px 0;
  }

  .media-button i {
    display: block;
    margin-top: 20px;
    background: #37B234;
    padding: 10px;
    color: white;
    cursor: pointer;
  }

  .account {
    display: none;
  }

  /* --- home --- */
  .home .left {
    padding: 50px 20px;
  }

  .home::after {
    height: 70vh;
  }

  .time-box {
    display: none;
  }

  /* --- latest --- */
  .heading button {
    left: 30%;
  }

  .heading .line {
    display: none;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .latest .scontainer {
    padding: 20px;
  }

  .latest .box {
    padding: 20px;
  }

  /* --- slider --- */
  .owl-nav .owl-prev i,
  .owl-nav .owl-next i {
    font-size: 40px;
  }

  /* --- footer --- */
  footer .scontainer {
    padding: 50px;
  }
}

@media only screen and (max-width: 511px) {
  .home::after {
    height: 100vh;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .heading h1 {
    font-size: 35px;
  }

  .heading button {
    left: 20%;
  }

  footer .scontainer,
  .latest .scontainer {
    padding: 0;
  }
}

